<div class="row">
  <div class="col-auto">
    <h2>Blogs</h2>
  </div>
</div>
<div class="row mt-4">
  {{#if blogs.length}}
  <div class="col-md-6 project-list">
    {{#each blogs as |blog|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h3><a href="/blog/{{blog.id}}">{{blog.title}}</a></h3>
        <p>Posted {{format_date blog.created_date}} by {{user.username}}
        <p></p>
      </div>
    </div>
    {{/each}}
  </div>
  {{else}}
  <div>
    <h2> No blogs yet!</h2>
  </div>
  {{/if}}
</div>
<br>
<br>
<br>

{{#if logged_in}}
<a class="newpost" href="/createnew">+ New Post</a>
</div>
{{/if}}